<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js Tutorials and Examples</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="elzero-app" class="container">
      <form action="send.html" method="post" @submit="validateForm">
        <div class="errors-list">
          <div class="error" v-for="error in formErrors">{{error}}</div>
        </div>
        <div class="form-group">
          <label for="">Username</label>
          <input type="text" name="username" class="form-input" v-model="username" autocomplete="off" />
        </div>
        <div class="form-group">
          <label for="">Subject</label>
          <input type="text" name="subject" class="form-input" v-model="subject" autocomplete="off" />
        </div>
        <div class="form-group">
          <label for="">Message</label>
          <textarea name="message" class="form-input" v-model="message" autocomplete="off"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="send-button" value="Send" />
        </div>
      </form>
    </div>
    <div class="vid-link">
      <a
        href="https://www.youtube.com/watch?v=43EqMfVn69Q&list=PLDoPjvoNmBAzDuaT7kEURZQbw9dQHepK9&index=7"
        target="blank"
        >Video Of The Course</a
      >
    </div>
    <script src="js/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#elzero-app",
        data: {
          formErrors: [],
          username: null,
          subject: null,
          message: null,
          maxChars: 10,
        },
        methods: {
          validateForm: function (e) {
            this.formErrors = []; // Empty Errors to start fresh

            // [1] Check if username is empty
            if (!this.username) {
              this.formErrors.push("Username Can't be empty");
            }

            // [2] Check if subject is empty
            if (!this.subject) {
              this.formErrors.push("Subject Can't be empty");
            }

            // [3] Check if Message is empty
            if (!this.message) {
              this.formErrors.push("Message Can't be empty");
            }

            // [4] Chech username characters count
            if (this.username && this.username.length > this.maxChars) {
              this.formErrors.push(`Username Can't be more than ${this.maxChars}`);
            }

            // If no errors return true
            if (!this.formErrors.length) {
              return true;
            }
            e.preventDefault();
          },
        },
      });
    </script>
  </body>
</html>
