* {
  font-family: Arial, Tahoma;
  box-sizing: border-box;
}
.container {
  text-align: center;
  padding: 20px;
}
.container form {
  width: 50%;
  margin: 10px auto;
}
.container form .errors-list {
  display: inline-block;
  width: 80%;
}
.container form .errors-list .error {
  background-color: red;
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
}
.container .form-group label {
  display: inline-block;
  font-size: 24px;
  width: 80%;
  padding: 20px;
}
.container .form-group input,
.container .form-group textarea {
  width: 80%;
  padding: 20px;
  background-color: #ddd;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.container .form-group .send-button {
  background-color: #2196f3;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
.vid-link {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  border: 2px solid #000;
  margin-top: 30px;
}
.vid-link a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
